/*notifications*/
#notifications {
    --grad: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    gap: 16px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: calc(100% - 16px - var(--nav-height));
    z-index: 200;
    padding: 0px 16px 16px 0px;
    pointer-events: none;
    overflow: hidden;
    mask-image: var(--grad);
    -webkit-mask-image: var(--grad);
}

.notification {
    --op: 0.875;
    display: flex;
    position: relative;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--bg-col);
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-col);
    padding: 16px;
    pointer-events: all;
    transition-property: top;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.notification.notification_info {
    --bg-col: rgba(100, 180, 255, var(--op));
    --border-col: rgba(50, 90, 255, var(--op));
}

.notification.notification_success {
    --bg-col: rgba(50, 240, 50, var(--op));
    --border-col: rgba(50, 255, 50, var(--op));
}

.notification.notification_error {
    --bg-col: rgba(255, 100, 100, var(--op));
    --border-col: rgba(255, 50, 50, var(--op));
}

.notification.opening {
    position: absolute;
    left: 0%;
    --anim-open-name: notification_fade_in;
    --anim-open-dur: 0.25s;
    --anim-open-timing: ease-out;
    --anim-open: var(--anim-open-name) var(--anim-open-dur) var(--anim-open-timing);
}

.notification.closing {
    left: calc(100% + 16px);
    --anim-close-name: notification_fade_out;
    --anim-close-dur: 0.25s;
    --anim-close-timing: ease-out;
    --anim-close: var(--anim-close-name) var(--anim-close-dur) var(--anim-close-timing);
}

/*
.notification:not(.pushing) {}
*/

.notification.pushing {
    --anim-push-name: notification_push;
    --anim-push-dur: 0.25s;
    --anim-push-timing: ease-out;
    --anim-push: var(--anim-push-name) var(--anim-push-dur) var(--anim-push-timing);
}

.notification.closing.pushing {
    animation: var(--anim-close), var(--anim-push);
}

.notification.closing:not(.pushing) {
    animation: var(--anim-close);
}

.notification:not(.closing).pushing {
    animation: var(--anim-push);
}

.notification.opening {
    position: absolute;
    animation: var(--anim-open);
}

@keyframes notification_fade_in {
    0% {
        left: calc(100% + 16px);
    }

    100% {
        left: 0%;
    }
}

@keyframes notification_fade_out {
    0% {
        left: 0%;
    }

    100% {
        left: calc(100% + 16px);
    }
}

@keyframes notification_push {
    0% {
        margin-bottom: 0px;
    }

    100% {
        margin-bottom: calc(var(--push-height) + 16px);
    }
}

.notification_text {
    margin: 0px;
    word-break: break-word;
}

.notification_close_button {
    position: relative;
    height: 20px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.notification_close_button_icon {
    width: 100%;
    height: 100%;
    fill: rgb(0, 0, 0, 0.5);
}