/*root*/
:root {
    --nav-height: 32px;
    --nav-horiz-pad: 15px;
    --nav-vert-pad: 15px;
    --nav-border-width: 1px;
    --actual-nav-height: calc(var(--nav-height) + (var(--nav-horiz-pad) * 2) + var(--nav-border-width));
    --theme-col: rgb(0, 156, 255);/*rgb(0, 255, 174);*/
    --main-col: rgb(255, 255, 255);
    --main-subtle-col: rgb(136, 136, 136);
    --main-bg-col: rgb(0, 0, 0);
    --main-font: 'Consolas';
    --main-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04), 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 4px -2px rgba(0, 0, 0, 0.12);
    --small-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    --input-bg-col: rgb(10, 10, 10);
    --text-input-bg-col: rgb(25, 25, 25);
    --input-border-col: rgb(45, 45, 45);

    --focus-border-col: rgb(0, 156, 255);/*rgb(0, 255, 174);*/
    /*rgb(0, 100, 255);*/
    --focus-outline-col: rgba(0, 156, 255, 0.25);/*rgba(0, 255, 174, 0.25);*/
    /*rgba(0, 100, 255, 0.25);*/

    --button-primary-col: rgb(0, 0, 0);
    --button-primary-idle-col: rgb(255, 255, 255);
    --button-primary-hover-col: rgb(220, 220, 220);
    --button-primary-active-col: rgb(200, 200, 200);
    --button-primary-disabled-col: rgb(161, 165, 178);

    --button-secondary-col: rgb(255, 255, 255);
    --button-secondary-idle-col: var(--input-bg-col);
    --button-secondary-hover-col: rgb(30, 30, 30);
    --button-secondary-active-col: rgb(50, 50, 50);
    --button-secondary-disabled-col: rgb(25, 25, 25);

    --main-content-min-height: calc(100svh - var(--actual-nav-height));
}

/*global*/
* {
    font-family: var(--main-font);
    font-weight: 300;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
}

/*
*:not(.text_input) {
    outline-color: var(--focus-border-col) !important;
}
*/

/*body*/
body {
    margin: 0;
}

/*fixing preset styles*/
button,
input,
textarea {
    appearance: none;
    all: unset;
}

/*overriding styles*/
input[type=checkbox] {
    appearance: auto;
    display: block;
}

select {
    background-color: var(--main-bg-col);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Consolas';
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

.fancy_header {
    --text-gradient: linear-gradient(180deg, rgb(255, 255, 255), rgb(173, 173, 173));
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: var(--main-subtle-col);
}

b {
    font-weight: bold;
}

a {
    color: var(--main-col);
}

.highlight_bold {
    color: var(--main-col);
}

input {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}





/*link as button*/
.button_link {
    text-decoration: none;
}




/*custom buttons*/
.button {
    border-style: solid;
    border-width: 0px;
    border-color: var(--focus-border-col);
    outline-width: 0px;
    outline-color: var(--focus-outline-col);
    outline-style: solid;
    transition-property: border-color, outline-width;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.button:focus-visible {
    border-width: 1px;
    outline-width: 4px !important;
}

.button.button_waiting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.button_waiting>.loading_svg {
    height: 24px;
    margin: 0px 4px 0px 4px;
}

.button:not(.button_inactive) {
    cursor: pointer;
}

.button.button_inactive {
    cursor: not-allowed;
}










/*✨fancy button✨*/
.fancy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    max-width: fit-content;
    max-height: fit-content;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    
    position: relative;
    height: var(--nav-height);
    padding: 0px 16px 0px 16px;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    color: var(--button-text-col);
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.fancy_button.primary {
    color: var(--button-primary-col);
}

.fancy_button.secondary {
    border: 1px solid var(--button-col);
    color: var(--button-secondary-col);
}

.fancy_button.secondary {
    border: 1px solid var(--input-border-col);
}

.fancy_button.primary:not(.button_inactive) {
    background-color: var(--button-primary-idle-col);
}

.fancy_button.primary:hover {
    background-color: var(--button-primary-hover-col);
}

.fancy_button.primary:active {
    background-color: var(--button-primary-active-col);
}

.fancy_button.primary.button_inactive {
    background-color: var(--button-primary-disabled-col);
}

.fancy_button.secondary:not(.button_inactive) {
    background-color: var(--button-secondary-idle-col);
}

.fancy_button.secondary:hover {
    background-color: var(--button-secondary-hover-col);
}

.fancy_button.secondary:active {
    background-color: var(--button-secondary-active-col);
}

.fancy_button.secondary.button_inactive {
    background-color: var(--button-secondary-disabled-col);
}

.fancy_button.icon_button {
    padding: 0;
    margin: 0;
}
















/*text input*/
.text_input {
    width: 100%;
    height: 30px;
    min-width: 0;
    min-height: 0;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    box-sizing: border-box;
    text-wrap: wrap;
    white-space-collapse: preserve;
    overflow-wrap: break-word;
    background-color: var(--text-input-bg-col);
    border-style: solid;
    border-width: 1px;
    border-color: var(--input-border-col);
    outline-width: 0px;
    outline-color: var(--focus-outline-col);
    outline-style: solid;
    transition-property: border-color, outline-width;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.text_input:is(:hover, :focus) {
    border-color: var(--focus-border-col);
}

.text_input:focus {
    outline-width: 4px;
}







/*labels*/
.standard_label {
    display: block;
    margin-bottom: 8px;
}











/*floating container*/
.floating_container {
    background-color: var(--main-bg-col);
    border: 1px solid var(--input-border-col);
}










/*main*/
#main {
    background-color: var(--main-bg-col);
    color: var(--main-col);
    box-sizing: content-box;
}




/*main*/
.main_content {
    display: flex;
    flex-direction: column;
    min-height: var(--main-content-min-height);
}









/*loading*/
#loading_loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--main-content-min-height);
}




/*failed to load*/
#loading_failed_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--main-content-min-height);
}










/*icons*/



/*loading svg*/
.loading_svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    animation-name: loading_circle;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading_bg_circle {
    stroke: rgba(0, 0, 0, 0.25);
}

.loading_highlight_circle {
    stroke: rgba(0, 0, 0, 0.5);
}

.loading_bg_circle,
.loading_highlight_circle {
    fill: none;
    stroke-width: 10;
}

@keyframes loading_circle {
    0% {
        rotate: 45deg;
    }

    100% {
        rotate: 405deg;
    }
}







/*static icons*/
.logo_icon {
    width: 100%;
    height: 100%;
    fill: var(--main-col);
}

.edit_icon {
    fill: none;
    stroke: rgb(255, 255, 255);
}

.search_icon {
    width: 100%;
    height: 100%;
    padding: 6px;
    fill: rgb(255, 255, 255);
}




/*align icons*/
.align_icon {
    fill: var(--main-col);
}











/*reduced (no) animations*/
@media (prefers-reduced-motion) {
    * {
        transition-duration: 0s;
        animation-duration: 0s;
    }
}