/*root*/
:root {
    --nav-height: 32px;
    --nav-horiz-pad: 14px;
    --nav-vert-pad: 14px;
    --nav-border-width: 1px;
    --actual-nav-height: calc(var(--nav-height) + (var(--nav-horiz-pad) * 2) + var(--nav-border-width));
    --theme-col: rgb(0, 156, 255);
    --main-col: rgb(0, 0, 0);
    --main-subtle-col: rgb(0, 0, 0);
    --main-bg-col: rgb(255, 255, 255);
    --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --main-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04), 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 4px -2px rgba(0, 0, 0, 0.12);
    --small-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    --text-input-bg-col: rgb(255, 255, 255);
    --input-border-col: rgb(210, 210, 210);

    --focus-border-col: rgb(0, 156, 255);
    --focus-outline-col: rgba(0, 156, 255, 0.25);

    --button-primary-col: rgb(255, 255, 255);
    --button-primary-idle-col: rgb(45, 69, 194);
    --button-primary-hover-col: rgb(79, 102, 219);
    --button-primary-active-col: rgb(27, 47, 150);
    --button-primary-disabled-col: rgb(148, 148, 148);

    --button-primary-delete-col: rgb(255, 255, 255);
    --button-primary-delete-idle-col: rgb(255, 61, 61);
    --button-primary-delete-hover-col: rgb(255, 94, 94);
    --button-primary-delete-active-col: rgb(209, 40, 40);

    --button-secondary-col: rgb(0, 0, 0);
    --button-secondary-idle-col: rgb(255, 255, 255);
    --button-secondary-hover-col: rgb(220, 220, 220);
    --button-secondary-active-col: rgb(190, 190, 190);
    --button-secondary-disabled-col: rgb(148, 148, 148);

    --main-content-min-height: calc(100svh - var(--actual-nav-height));
}

/*global*/
* {
    font-family: var(--main-font);
    font-weight: normal;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
}




/*custom scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background: rgb(220, 220, 220);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(180, 180, 180);
}





/*body*/
body {
    margin: 0;
}

/*fixing preset styles*/
button,
input,
textarea {
    appearance: none;
    all: unset;
}

/*overriding styles*/
input[type=checkbox] {
    appearance: auto;
    display: block;
}

select {
    background-color: var(--main-bg-col);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font);
    font-weight: 800;
}

h1 {
    font-size: 3rem;
}

p {
    color: var(--main-subtle-col);
}

b {
    font-weight: bold;
}

a {
    color: rgb(50, 50, 255);
}

.highlight_bold {
    color: var(--main-col);
}

input {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    /* firefox */
    -moz-appearance: textfield;
}

/*
.normal_dl {
    
}
*/

.normal_dt {
    font-weight: 500;
}

/*
.normal_dd {
    
}
*/





/*link as button*/
.button_link {
    text-decoration: none;
}




/*custom buttons*/
.button {
    border-style: solid;
    border-width: 0px;
    border-color: var(--focus-border-col);
    outline-width: 0px;
    outline-color: var(--focus-outline-col);
    outline-style: solid;
    transition-property: border-color, outline-width;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.button:focus-visible {
    border-width: 1px;
    outline-width: 4px !important;
}

.button.button_waiting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.button_waiting>.loading_svg {
    height: 24px;
    margin: 0px 4px 0px 4px;
}

.button:not(.button_inactive) {
    cursor: pointer;
}

.button.button_inactive {
    cursor: not-allowed;
}










/*✨fancy button✨*/
.fancy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    max-width: fit-content;
    max-height: fit-content;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;

    position: relative;
    height: var(--nav-height);
    padding: 0px 16px 0px 16px;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    color: var(--button-text-col);
    border-radius: 10px;
    transition-property: bborder-color, outline-width, ackground-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.fancy_button.primary {
    color: var(--button-primary-col);
}

.fancy_button.secondary {
    border: 1px solid var(--button-col);
    color: var(--button-secondary-col);
}

.fancy_button.secondary {
    border: 1px solid var(--input-border-col);
}

.fancy_button.primary:not(.button_inactive) {
    background-color: var(--button-primary-idle-col);
}

.fancy_button.primary:hover {
    background-color: var(--button-primary-hover-col);
}

.fancy_button.primary:active {
    background-color: var(--button-primary-active-col);
}

.fancy_button.primary.button_inactive {
    background-color: var(--button-primary-disabled-col);
}

.fancy_button.secondary:not(.button_inactive) {
    background-color: var(--button-secondary-idle-col);
}

.fancy_button.secondary:hover {
    background-color: var(--button-secondary-hover-col);
}

.fancy_button.secondary:active {
    background-color: var(--button-secondary-active-col);
}

.fancy_button.secondary.button_inactive {
    background-color: var(--button-secondary-disabled-col);
}





/*delete*/
.fancy_button.primary.delete_button {
    color: var(--button-primary-delete-col);
}

.fancy_button.primary.delete_button:not(.button_inactive) {
    background-color: var(--button-primary-delete-idle-col);
}

.fancy_button.primary.delete_button:hover {
    background-color: var(--button-primary-delete-hover-col);
}

.fancy_button.primary.delete_button:active {
    background-color: var(--button-primary-delete-active-col);
}




.fancy_button.icon_button {
    padding: 0;
    margin: 0;
}
















/*text input*/
.text_input {
    width: 100%;
    height: 30px;
    min-width: 0;
    min-height: 0;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    box-sizing: border-box;
    text-wrap: wrap;
    white-space-collapse: preserve;
    overflow-wrap: break-word;
    background-color: var(--text-input-bg-col);
    border-style: solid;
    border-width: 1px;
    border-color: var(--input-border-col);
    outline-width: 0px;
    outline-color: var(--focus-outline-col);
    outline-style: solid;
    transition-property: border-color, outline-width;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.text_input:is(:hover, :focus) {
    border-color: var(--focus-border-col);
}

.text_input:focus {
    outline-width: 4px;
}









/*labels*/
.standard_label {
    display: block;
    margin-bottom: 8px;
}











/*floating container*/
.floating_container {
    background-color: var(--main-bg-col);
    border: 1px solid var(--input-border-col);
}














/*main*/
#main {
    background-color: var(--main-bg-col);
    color: var(--main-col);
    box-sizing: content-box;
}




/*main*/
.main_content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: var(--main-content-min-height);
}





















/*icons*/



.icon {
    width: 100%;
    height: 100%;
}

.icon_primary {
    fill: var(--main-col);
}

.icon_secondary {
    fill: rgb(59, 154, 220);
}

/*eraser*/
.clear_text_style_icon_eraser_primary_fill {
    fill: rgba(0, 0, 0, 0);
}

.clear_text_style_icon_eraser_secondary_fill {
    fill: rgb(146, 46, 155);
}

.clear_text_style_icon_eraser_border {
    fill: rgb(212, 146, 216);
}



/*loading svg*/
.loading_svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    animation-name: loading_circle;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loading_bg_circle {
    stroke: rgba(0, 0, 0, 0.25);
}

.loading_highlight_circle {
    stroke: rgba(0, 0, 0, 0.5);
}

.loading_bg_circle,
.loading_highlight_circle {
    fill: none;
    stroke-width: 10;
}

@keyframes loading_circle {
    0% {
        rotate: 45deg;
    }

    100% {
        rotate: 405deg;
    }
}







/*normal icons*/
.logo_icon {
    width: 100%;
    height: 100%;
}

.arrow_right_icon {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
}

.text_icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    stroke: currentColor;
}


















/*reduced (no) animations*/
@media (prefers-reduced-motion) {
    * {
        transition-duration: 0s;
        animation-duration: 0s;
    }
}