#tool_tips {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100000;
}


/*tips*/
.tool_tip {
    --tool-tip-col: rgb(255, 255, 255);
    --border-width: 5px;
    position: relative;
    max-width: 200px;
    box-shadow: var(--main-shadow);
}

.tool_tip:not(.interactive_tool_tip) {
    pointer-events: none;
}

.tool_tip.interactive_tool_tip {
    pointer-events: all;
}



/*content*/
.tool_tip_content {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--tool-tip-col);
}



/*arrow*/
.tool_tip_arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    box-sizing: border-box;
}

/*directions for container*/
.tool_tip.left {
    transform: translate(-100%, -50%) translate(var(--x), var(--y)) translate(0, calc(var(--height) * 0.5)) translate(-10px, 0);
}

.tool_tip.right {
    transform: translate(0, -50%) translate(var(--x), var(--y)) translate(var(--width), calc(var(--height) * 0.5)) translate(10px, 0);
}

.tool_tip.top {
    transform: translate(-50%, -100%) translate(var(--x), var(--y)) translate(calc(var(--width) * 0.5), 0) translate(0, -10px);
}

.tool_tip.bottom {
    transform: translate(-50%, 0) translate(var(--x), var(--y)) translate(calc(var(--width) * 0.5), var(--height)) translate(0, 10px);
}

/*directions for arrow*/
.tool_tip.left>.tool_tip_arrow {
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    border-left-color: var(--tool-tip-col);
}

.tool_tip.right>.tool_tip_arrow {
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    border-right-color: var(--tool-tip-col);
}

.tool_tip.top>.tool_tip_arrow {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-top-color: var(--tool-tip-col);
}

.tool_tip.bottom>.tool_tip_arrow {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    border-bottom-color: var(--tool-tip-col);
}