:root {
    --document-border-col: rgb(35, 35, 35);
}

#documents_section {
    display: flex;
    margin: 0px 64px 0px 64px;
}

#create_document_button {
    margin: 32px 0px;
}

#documents {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.document_link {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 8px;
}

.document_link {
    border-top: 1px solid var(--document-border-col);
}

.document_link:last-child {
    border-bottom: 1px solid var(--document-border-col);
}

.document_link_details {
    display: flex;
    color: var(--main-subtle-col);
}

.document_link_name {
    font-size: 16px;
    font-weight: 400;
}

.document_link_detail {
    font-size: 14px;
    min-height: 0;
}