:root {
    --panel-content-height: 26px;
    --panel-content-pad: 6px;
    --page-bg-col: rgb(10, 10, 10);
    --page-border-col: rgb(35, 35, 35);
    --panel-bg-col: rgb(10, 10, 10);
    --panel-border-col: rgb(35, 35, 35);
}

#document {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    margin: 128px 0 0 0;
    min-height: var(--main-content-min-height);
}

.page {
    --max-width: 800px;
    max-width: var(--max-width);
    padding: calc(var(--max-width) * 0.088) calc(var(--max-width) * 0.088) calc(var(--max-width) * 0.088) calc(var(--max-width) * 0.088);
    width: 100%;
    aspect-ratio: 1 / 1.41421356;
    background-color: var(--page-bg-col);
    border: 1px solid var(--page-border-col);
    box-sizing: border-box;
    white-space: break-spaces;
}



/*panel*/

#panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: var(--panel-bg-col);
    border-bottom: 1px solid var(--panel-border-col);
}

#panel_section_buttons {
    --button-width: 60px;
    --button-gap: 16px;
    display: flex;
    gap: var(--button-gap);
    position: relative;
    height: 25px;
    width: 100%;
    border-bottom: 1px solid var(--panel-border-col);
}

.panel_section_button {
    width: var(--button-width);
    height: 100%;
    text-align: center;
}

#panel_section_highlight {
    position: absolute;
    width: calc(var(--button-width) * 1);
    height: 100%;
    left: calc((var(--button-index) * var(--button-width)) + (var(--button-index) * var(--button-gap)) + (var(--button-width) * 0.5));
    bottom: 0;
    border-bottom: 2px solid var(--theme-col);
    transform: translate(-50%);
    transition-property: width, left;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#panel_section_highlight:hover {
    width: calc(var(--button-width) * 1.2);
}

#panel_content {
    display: flex;
    width: 100%;
    gap: 8px;
    height: var(--panel-content-height);
    padding: var(--panel-content-pad);
}

#panel_content > .text_input {
    height: 100%;
}

.panel_name {
    text-align: center;
    border-bottom: 1px solid var(--panel-border-col);
    margin: 2px 0 2px 0;
}

.panel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--panel-content-height);
    width: var(--panel-content-height);
    box-sizing: border-box;
}

/*specific sizes in panel*/
#font_family_input {
    width: 200px;
}

#font_size_input {
    width: 40px;
}




/*loading*/
#document_loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--main-content-min-height);
}




/*failed to load*/
#document_failed_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--main-content-min-height);
}













/*this is just for now, create dropdowns later*/
.panel_search_dropdown {
    color: var(--main-col);
}

.select_option {
    color: var(--main-col);
}



.align_button {
    padding: 3px;
}