#documents {
    display: flex;
    flex-wrap: wrap;
}

.document {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.document_link_name {
    font-size: 16px;
    font-weight: 400;
}

.document_link_last_edited {
    font-size: 14px;
    min-height: 0;
}