:root {
    --card-border-col: rgb(50, 50, 50);
    --card-bg-col: rgb(0, 0, 0);
    --card-padding: 24px;
    --card-border-radius: 16px;
}

#main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 64px 0px 64px;
}

#cards_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    gap: 16px;
    margin: 0px min(128px, 10vw) 0px min(128px, 10vw);
}

@media screen and (max-width: 640px) {
    #cards_section {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 960px) {
    #cards_section {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
}

.home_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 380px;
    box-sizing: border-box;
    padding: var(--card-padding);
    border: 1px solid var(--card-border-col);
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.home_card_large {
    position: relative;
    min-height: 380px;
}

.home_card_large > * {
    z-index: 1;
}

.home_card_large::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 1) 100%);
    opacity: 0;
    z-index: 0;
}

.home_card_large:hover::after {
    opacity: 1;
}

.home_card_small {
    min-height: 0px;
}

.home_card_content {
    display: flex;
    min-height: 0;
    height: 100%;
}

.home_card_image {
    width: 100%;
}

.home_card_name {
    font-weight: 800;
    font-size: 18px;
    margin: 8px 0 8px 0;
}

.home_card_desc {
    font-size: 14px;
    line-height: 1.4;
}