#api_gui_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#api_gui_buttons {
    display: flex;
    width: fit-content;
    gap: 8px;
    background-color: rgb(220, 220, 220);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}




#api_gui {
    border-collapse: collapse;
}




.api_gui_row {
    
}

.api_gui_row>:is(th, td) {
    padding: 4px 12px;
    text-align: left;
    vertical-align: middle;
}

#api_gui_header, #api_gui_footer {
    font-weight: 500;
    background-color: rgb(200, 200, 200);
}

#api_gui_rows {}

#api_gui_rows> :nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

#api_gui_rows> :nth-child(even) {
    background-color: rgb(220, 220, 220);
}


.api_gui_row_delete_button {
    color: var(--col);
    border: 1px solid var(--border-col);
}

.api_gui_row_delete_button.delete {
    --col: rgb(255, 0, 0);
    --border-col: rgb(255, 0, 0);
}

.api_gui_row_delete_button.cancel {
    --col: rgb(0, 0, 0);
    --border-col: rgb(150, 150, 150);
}