.App {
    text-align: left;
}

.App-header {
    background-color: rgb(40, 44, 52);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#rps_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

#plrs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

#plrs.fighting {
    aspect-ratio: 1 / 1;
    width: initial;
    height: 75svh;
    /*display: block;*/
}

#fight {
    --r: 0;
    --g: 255;
    --b: 0;
    background-color: rgba(var(--r), var(--g), var(--b), 0.1);
    border: 2px solid rgba(var(--r), var(--g), var(--b), 0.1);
    border-radius: 10px;
    user-select: none;
    padding: 4px;
    font-size: 3svh;
}

#fight:hover {
    background-color: rgba(var(--r), var(--g), var(--b), 0.2);
    cursor: pointer;
}

#fight:active {
    background-color: rgba(var(--r), var(--g), var(--b), 0.3);
}

.plr {
    position: relative;
    width: 32svh;
    height: 32svh;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-size: 4svh;
    left: var(--x);
    top: var(--y);
}

.plr.fighting {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1s ease-in-out, top 1s ease-in-out;
}

.plr_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.plr_name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.plr_choice {
    width: 100%;
    height: calc(80% - 10px);
    display: flex;
    flex-direction: column;
}

.plr_choice_name {
    width: 100%;
    height: 20%;
    text-align: center;
}

.plr_choice_icon {
    font-size: 12svh;
    width: 100%;
    height: 80%;
    text-align: center;
}

.plr_choice_buttons {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.plr_choice_buttons > * {
    pointer-events: all;
}

.plr_choice_dir {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.plr_choice_dir:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.plr_choice_dir:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.plr_choice_right {
    right: 0;
}

.plr_choice_left {
    left: 0;
}

.choice_status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: color 0.5s ease-in-out;
}

.choice_status.ready {
    color: rgb(0, 255, 0);
}

.choice_status.not_ready {
    color: rgb(255, 0, 0);
}

#result {
    text-align: center;
}