:root {
    --bg-col: rgb(13, 17, 23);
    --light-col-1: rgb(16, 21, 30);
    --light-col-2: rgb(32, 42, 60);
}

html {
    background-color: var(--bg-col);
}

p,
dt,
dd {
    line-height: 28px;
}

input {
    all: unset;
    transition-duration: 0.1s;
    transition-property: color, background-color, box-shadow, border-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 262px var(--light-col-2) inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 10, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(134, 155, 187, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(134, 155, 187, 0.4);
}

.section_space {
    display: block;
    width: 100%;
    height: var(--space);
}

.section_space.minimum {
    --space: 1px;
}

.section_space.extra_small {
    --space: 16px;
}

.section_space.small {
    --space: 32px;
}

.section_space.medium {
    --space: 64px;
}

.section_space.large {
    --space: 128px;
}

.section_space.extra_large {
    --space: 256px;
}

.content_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

code {
    --r: 40;
    --g: 44;
    --b: 52;
    display: inline;
    background-color: rgb(40, 44, 52);
    border: 1px solid rgb(53, 59, 69);
    border-radius: 4px;
    white-space: pre;
}

code,
.code_text {
    font-family: Consolas;
}

code:not(.big_code),
.code_text {
    color: rgb(130, 170, 255);
}

code.big_code {
    display: block;
    overflow: auto;
    padding: 8px 8px 8px 0;
    margin: 16px 0 16px 0;
    color: rgb(255, 255, 255);
}

.big_code_wrapper {
    display: inline-block;
    min-width: 100%;
}

.code_highlight {
    --col: rgb(53, 59, 69);
}

.code_highlight.strong {
    --col: rgb(67, 74, 86);
}

.code_highlight {
    background-color: var(--col);
}

.code_line {
    display: block;
}

.linenumber {
    position: sticky;
    left: 0;
    padding: 0 16px 0 8px;
    background: rgb(40, 44, 52);
    min-width: 2.25em;
}

/*-----*/

/*-----*/

input[type="submit"],
.button {
    --r: 130;
    --g: 170;
    --b: 255;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    background-color: rgba(var(--r), var(--g), var(--b), 0.4);
    border: 1px solid rgba(var(--r), var(--g), var(--b), 0.4);
    overflow: hidden;
    cursor: pointer;
}

/*-----*/

.button_container {
    position: relative;
    cursor: pointer;
}

.button_container:is(:hover, :active)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.button_container:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.button_container:active::before {
    background-color: rgba(0, 0, 0, 0.4);
}

.button_content {
    position: relative;
    z-index: 1;
    font-weight: 500;
    text-align: center;
}

/*-----*/

.email {
    color: rgb(0, 200, 255);
    text-decoration: underline;
}

.button_link {
    display: inline-block;
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}

a {
    color: rgb(0, 200, 255);
}

a:visited {
    color: rgb(0, 100, 255);
}

#main {
    width: 100%;
    color: rgb(255, 255, 255);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--light-col-1);
    border-bottom: 1px solid var(--light-col-2);
    z-index: 1000;
}

/*-----*/
.nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav_button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}

#nav_list_left {}

#nav_list_right {
    margin-left: auto;
}

/*-----*/

#signup_button {
    margin: 10px;
}

/*-----*/

.sub_nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--bg-col);
}

.sub_nav_li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub_nav_li:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sub_nav_button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/*-----*/

#nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--light-col-1);
}

#content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 100svh;
    background-color: rgb(10, 14, 21);
    padding-bottom: 100px;
}

.standard_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.standard_content {
    width: 60%;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 64px 0 64px 0;
    background-color: rgb(6, 10, 16);
}

#footer_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer_list>* {
    padding: 0 24px 0 24px;
}

.footer_sub_list_main_list {
    list-style: none;
    padding: 0;
}

.footer_sub_list_title {
    font-size: 24px;
}

.footer_sub_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer_sub_list>* {
    margin-top: 8px;
    margin-bottom: 8px;
}

/*-----*/

/*-----*/

.form_container,
.front_account_management_container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--light-col-1);
    border: 1px solid var(--light-col-2);
}

/*-----*/

/*-----*/

.front_account_management_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 250px;
}

.front_account_management_header {
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin: 0 0 12px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.front_account_management_bottom_section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_label {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    all: unset;
    background-color: var(--light-col-2);
    border: 1px solid rgb(43, 56, 80);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 12px;
}

.form_file_label {
    width: fit-content;
}

.form_file_input {
    display: none;
}

.form_checkbox_input {
    appearance: auto;
}

.captcha_checkbox_input {
    width: 20px;
    height: 20px;
}

.front_account_management_text_input.invalid {
    --border-col: rgb(255, 100, 100);
    border: 1px solid var(--border-col);
}

/*
.front_account_management_username_input {}
*/

/*
.front_account_management_password_input {}
*/

input[type="submit"] {
    text-align: center;
    font-weight: 500;
}

.form_message {
    color: rgb(255, 100, 100);
    font-size: 12px;
    margin: 0 0 5px 0;
}

.front_account_management_change_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    font-size: 12px;
}

#login_forgot_password {
    position: absolute;
    right: 0;
    font-size: 12px;
}

.front_account_management_change_text {
    margin: 0;
}

/*-----*/

.learn_subjects_container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px;
}

#signup_button {
    margin: 5px;
}

/*
.desc_list {}
*/

.desc_list>dt {
    font-weight: 500;
    margin: 40px 0 5px 0;
}

.desc_list>dd {
    margin: 0 0 20px 20px;
}

/*-----*/

#contact_form_container {
    width: 400px;
}

/*-----*/