::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

code {
    display: inline;
    --r: 100;
    --g: 100;
    --b: 150;
    font-family: Consolas;
    background-color: rgba(var(--r), var(--g), var(--b), 0.1);
    border: 1px solid rgba(var(--r), var(--g), var(--b), 0.1);
    border-radius: 4px;
    color: rgb(var(--r), var(--g), var(--b));
    white-space: pre;
}

code.big_code {
    display: inline-block;
    overflow: auto;
    width: 100%;
    padding: 8px;
    margin: 16px 0 16px 0;
}

.big_code_wrapper {
    display: inline-block;
}

.code_highlight {
    display: inline-block;
    width: 100%;
    background-color: rgba(var(--r), var(--g), var(--b), 0.2);
}

.email {
    color: rgb(0, 200, 255);
    text-decoration: underline;
}

.button_link {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}

a {
    color: rgb(0, 200, 255);
}

a:visited {
    color: rgb(0, 100, 255);
}

#main {
    width: 100%;
    color: rgb(255, 255, 255);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 45px;
    background-color: rgb(35, 35, 35);
}

/*-----*/
.nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav_li:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav_button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/*-----*/
.sub_nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(35, 35, 35);
}

.sub_nav_li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub_nav_li:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sub_nav_button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}
/*-----*/

#nav_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(30, 30, 30);
}

#content {
    overflow: auto;
    min-height: 100svh;
    background-color: rgb(25, 25, 25);
}

.standard_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.standard_content {
    width: 60%;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 64px 0 64px 0;
    background-color: rgb(20, 20, 20);
}

#footer_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
}

#footer_list > * {
    width: 100%;
    padding: 0 24px 0 24px;
}

.footer_sub_list_main_list {
    list-style: none;
    padding: 0;
}

.footer_sub_list_title {
    font-size: 24;
}

.footer_sub_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer_sub_list > * {
    margin-top: 8px;
    margin-bottom: 8px;
}