#course {
    margin: 0 min(max(5vw, 50px), 100px);
}




#course_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: var(--actual-nav-height);
    height: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    box-shadow: var(--main-shadow);
}

#course_nav_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#course_not_logged_in {
    display: flex;
    align-items: center;
    gap: 16px;
}