:root {
    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}

* {
    font-family: var(--default-font);
}

body {
    margin: 0;
}

button {
    appearance: none;
    border: initial;
    background-color: initial;
    color: initial;
    padding: initial;
    margin: initial;
    cursor: pointer;
}

input[type=text], input[type=number] {
    appearance: none;
    padding: 4px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 4px;
    min-width: 0;
    max-width: none;
    width: 100px;
}

.fancy_button {
    appearance: none;
    padding: 2px 8px;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
}

.fancy_button:active {
    outline: auto;
}